In [1]:
!pip install folium

Requirement already satisfied: folium in c:\users\big-03-06\anaconda3\lib\site-packages (0.14.0)
Requirement already satisfied: requests in c:\users\big-03-06\anaconda3\lib\site-packages (from folium) (2.28.1)
Requirement already satisfied: branca>=0.6.0 in c:\users\big-03-06\anaconda3\lib\site-packages (from folium) (0.6.0)
Requirement already satisfied: jinja2>=2.9 in c:\users\big-03-06\anaconda3\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in c:\users\big-03-06\anaconda3\lib\site-packages (from folium) (1.23.5)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\big-03-06\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\big-03-06\anaconda3\lib\site-packages (from requests->folium) (2023.5.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\big-03-06\anaconda3\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\big-03-06\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\big-03-06\anaconda3\lib\site-packages (from requests->folium) (1.26.14)

In [2]:
import requests
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import os
import webbrowser
import folium
from folium import plugins
from folium.plugins import HeatMap
print(folium.__version__)
import pandas as pd

0.14.0

In [3]:
df = pd.read_csv('./1인당_개인소득_시도.csv')
income_geo = json.load(open('TL_SCCO_CTPRVN.json', encoding='utf8'))

In [4]:
df=df.drop('2019', axis=1)

In [5]:
df=df.drop('2020', axis=1)
df.head()

     시도별   2021
0     전국  22220
1  서울특별시  25256
2  부산광역시  21352
3  대구광역시  21046
4  인천광역시  21317

In [6]:
df=df.drop(0, axis=0)

In [7]:
df.head()

     시도별   2021
1  서울특별시  25256
2  부산광역시  21352
3  대구광역시  21046
4  인천광역시  21317
5  광주광역시  22472

In [8]:
m = folium.Map(location=[36, 127], zoom_start=7)

In [9]:
folium.Choropleth(geo_data=income_geo, data = df, columns=['시도별', '2021'], key_on='properties.CTP_KOR_NM',fill_color='YlOrRd').add_to(m)

In [10]:
m.save('1인당 개인소득.html')
webbrowser.open_new("1인당 개인소득.html")

True